// google font raleway 200 with italic, 400, 600
// google font open sans 400,600
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:ital,wght@0,400;0,600;1,200&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1 {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
h2 {
  padding: 10px;
  font-size: 20px;
}
p {
  font-size: 16px;
}
