// google font raleway 200 with italic, 400, 600
// google font open sans 400,600
@use "./variable" as *;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:ital,wght@0,400;0,600;1,200&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
h1 {
  padding: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 600;
}
h2 {
  padding: 10px;
  font-size: 20px;
}
p {
  font-size: 18px;
}
img {
  width: 100%;
  object-fit: cover;
}
.TITLE {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.MAIN-SECTION{
  display: flex;

  @include mobile{
    flex-direction: column;
  }
  &__CONTENT{
    width: 50%;
    padding: 30px;

    @include mobile{
      width: 100%;
    }
  }
}