@mixin button($h) {
  padding: 1em 1.5em;
  border-radius: 1.75em;
  background-color: hsl($h, 100%, 60%);
  color: #000;
  border: none;
  transition: all 0.2s;

  &:hover {
    background-color: hsl($h, 100%, 40%);
    color: #fff;
  }
}

@mixin mobile(){
  @media (max-width: 770px) {
    @content
  }
}