@use "../variable" as *;

.hero {
  text-align: center;
  margin-bottom: 25px;
  &__joke {
    display: flex;
    justify-content: center;
  }
  &__button {
    @include button(210);
    font-size: 18px;
  }
}
