@use "../variable" as *;

.joke {
  display: flex;
  align-items: center;
  width: min(85%, 500px);
  padding: 1em 1.5em;
  border-radius: 65px;
  background: #fcfcfc;
  box-shadow: 8px 5px 10px #979797, -14px -14px 29px #ffffff;
  margin: 25px;
  margin-bottom: none;
  transition: all 4s;
  animation: popup 1s forwards;
  &__phrase {
    flex-grow: 1;
    max-height: 300px;
    overflow: scroll;

  }
  &__btn-container {
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    &__btn {
      display: flex;
      justify-content: center;
      width: 30px;
      aspect-ratio: 1;
      &:first-child {
        margin-right: 1.5em;
      }
    }
  }
}

// transform doesn't work
@keyframes popup {
  0% {
    opacity: 0;
    // transform: rotateY(-50px);
  }
  100%{
    opacity: 1;
    // transform: translateY(0);
  }
}