@use "../variable" as *;

.joke {
  display: flex;
  align-items: center;
  width: min(85%, 500px);
  padding: 1em 1.5em;
  border-radius: 65px;
  background: #fcfcfc;
  box-shadow: 8px 5px 10px #979797, -14px -14px 29px #ffffff;
  margin: 25px;
  &__phrase {
    flex-grow: 1;
  }
  &__btn-container {
    display: flex;
    margin-left: 20px;
    font-size: 10px;
    &__btn {
      display: flex;
      justify-content: center;
      width: 30px;
      aspect-ratio: 1;
      &:first-child {
        margin-right: 1.5em;
      }
    }
  }
}
